name: Publish ic-bn-lib to crates.io

on:
  push:
    tags:
      - "v*"

jobs:
  publish-ic-bn-lib:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Required for OIDC token exchange

    steps:
      - uses: actions/checkout@v5

      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Set Cargo.toml version
        shell: bash
        env:
          RELEASE_TAG: ${{ github.ref }}
        run: |
          mv ic-bn-lib/Cargo.toml ic-bn-lib/Cargo.toml.orig
          sed "s/0\\.0\\.0-git/${RELEASE_TAG##*\/v}/" ic-bn-lib/Cargo.toml.orig > ic-bn-lib/Cargo.toml

      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
